// МИКСИНЫ
@mixin flexbox() {
   display: -webkit-flex;
   display: -webkit-box;
   display: -moz-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   font-size: 0;
}

@mixin flexboxinline() {
   display: -webkit-inline-flex;
   display: -moz-inline-flex;
   display: -ms-inline-flex;
   display: -o-inline-flex;
   display: inline-flex;
}

// ПЕРЕМЕННЫЕ
$minwidth: 320px;
$mw: 1100;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// ============================================//


/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;

   &.lock {
      overflow: hidden;

      @media(max-width: $md3+px) {
         width: 100%;
         position: fixed;
         overflow: hidden;
      }
   }
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
// Оболочка
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   @include flexbox();
   flex-direction: column;
}

// ОСНОВНАЯ СЕТКА
.container {
   max-width: $mw+px;
   margin: 0 auto;
   width: 100%;

   @media(max-width: $md1+px) {
      max-width: 970px;
   }

   @media(max-width: $md2+px) {
      max-width: 750px;
   }

   @media(max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}

// ================================================= //

// Делаем картинку фоновой

.ibg {

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   img {
      display: none;
   }
}